#@data/values
#@ load("@ytt:overlay", "overlay")
#@overlay/match by=overlay.all
---
#@overlay/match missing_ok=True
integration_tests_legacy:
  runner: self-hosted
  repository:
    token: ${{ secrets.CR_PAT_FULL }}
    branch: ${{ github.ref }}
  environment:
    mongo_user: ${{ secrets.MONGO_USER }}
    mongo_password: ${{ secrets.MONGO_PASSWORD }}
    mongo_url: dds-3ns0c4f035f4d3141258-pub.mongodb.rds.aliyuncs.com:3717,dds-3ns0c4f035f4d3142331-pub.mongodb.rds.aliyuncs.com:3717/admin?replicaSet=mgset-5830817&maxPoolSize=500&waitQueueMultiple=5
    service_under_test:
      name: none
      image: none
    #diagnostic_password: 123
  test_suites:
    small_tenants:
      name: Small tenants legacy integration tests
      tests:
      - 123
      - 234
      - 234e_uat
      - 45_uat
      - 56_uat
    big_tenants:
      name: Big tenants legacy integration tests
      tests:
      - test_uat
      - test_uat1
      - test_uat2
      - test_uat3
      - test_uat4

git:
  branches:
    - master
    - f/*
    - r/*
    - b/*

github_registry:
  url: ghcr.io
  name: GitHub Container Registry
  user: ${{ github.repository_owner }}
  password: ${{ secrets.CR_PAT_FULL }}

alicloud_registry:
  url: registry-intl.cn-hongkong.aliyuncs.com
  name: AliCloud Container Registry
  user: ${{ secrets.ALI_CONTAINER_REGISTRY_USER }}
  password: ${{ secrets.ALI_CONTAINER_REGISTRY_PASSWORD }}
